absl-py==2.3.1
antlr4-python3-runtime==4.9.3
bitbully==0.0.57
cloudpickle==3.1.2
contourpy==1.3.3
cycler==0.12.1
Farama-Notifications==0.0.4
filelock==3.20.0
fonttools==4.60.1
fsspec==2025.10.0
grpcio==1.76.0
gymnasium==1.2.2
hydra-core==1.3.2
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.4.9
kornia==0.8.2
kornia_rs==0.1.10
line_profiler==5.0.0
Markdown==3.10
MarkupSafe==3.0.3
matplotlib==3.10.7
mpmath==1.3.0
networkx==3.5
numpy==2.3.4
omegaconf==2.3.0
packaging==25.0
pandas==2.3.3
pettingzoo==1.24.3
pexpect==4.8.0
pillow==12.0.0
protobuf==6.33.1
ptyprocess==0.7.0
pygame==2.6.1
pyparsing==3.2.5
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
scipy==1.17.0
six==1.17.0
sympy==1.14.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
termcolor==3.2.0
torch==2.9.1
torch-tb-profiler==0.4.3
torchvision==0.24.1
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.3
Werkzeug==3.1.3
